/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/06/2017, 15:36:46
    Author     : 5105011523
*/
#cabecalho{
    border: 1px solid black;
    height: 70px;
    background-color: darkgray;
    text-align: center;
}

#conteudo{
   background-color: grey;
}

#tudo{
    width: 1366px;
    height: 768;
    
}

#rodape{
    border: 1px solid black;
    height: 20px;
    background-color: grey;
    margin-top: 15px;
    text-align: right;
}

#ofertas{
    width: 1000px;
    height: 400px;
     background-color: grey;
}

#foto{
    width: 400px;
    height: 400px;
    
    float: left;
}

#descr{
    width: 600px;
    height: 400px;
    
    float: right;
}
