<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Busca</title>
    </h:head>
    <h:body>
        <ui:composition template="template.xhtml">
            <ui:define name="conteudo">
                <h1>Busca Por Data</h1>
                <h:form>
                    <h:panelGrid columns="3">
                        <p:outputLabel value="Data de Entrada:"/>
                        <p:calendar id="data" value="#{anuncioBean.buscaData}"
                                    required="true"
                                    requiredMessage="Campo Obrigatorio!!!"/>
                        <p:message for="data"/>
                        
                        <p:commandButton id="buscar" value="Buscar" ajax="true"
                                         action="#{anuncioBean.buscaData(event)}"/>
                    </h:panelGrid>
                <h:form>

                    <p:dataTable value="#{anuncioBean.anuncioModel}" var="anuncio" >
                        <p:column headerText="titulo" >
                            <h:outputText value="#{anuncio.nome}" />
                        </p:column>
                        
                        <p:column headerText="descrição" >
                            <h:outputText value="#{anuncio.descricao}" />
                        </p:column>
                        
                        <p:column headerText="data" >
                            <h:outputText value="#{anuncio.dataEntrada}" />
                        </p:column>
                        
                        <p:column headerText="serviços" >
                            <h:outputText value="#{anuncio.servicos}" />
                        </p:column>
                        
                        <p:column headerText="diaria" >
                            <h:outputText value="#{anuncio.valor}" />
                        </p:column>
                          
                         <p:column headerText="capacidade" >
                             <h:outputText value="#{anuncio.capacidade}" />
                        </p:column>

                         <p:column headerText="cidade" >
                            <h:outputText value="#{anuncio.cidade}" />
                        </p:column>

                         <p:column headerText="endereço" >
                             <h:outputText value="#{anuncio.endereço}" />
                        </p:column>   
                        
                         <p:column headerText="nota" >
                             <h:outputText value="#{anuncio.notaAnuncio}" />
                        </p:column>
                        
                         <p:column headerText="ação" >
                              <p:commandButton id="salvar" value="Excluir tem q arrumar o metodo ta salvar" ajax="false"
                                         action="#{usuarioBean.salvar}"/>
                        </p:column>     

                            

                        </p:dataTable>

                    </h:form>
            </ui:define>
        </ui:composition>  
    </h:body>
</html>

