<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        
        
        <ui:composition template="template.xhtml">
        <ui:define name="conteudo">
        <h:form>
            <h1>Cadastro Anuncio</h1>
            <h:panelGrid columns="3">

                <p:outputLabel value="Nome do anuncio:"/>
                <p:inputText id="nome" value="#{anuncioBean.anuncio.nome}"
                             required="true"
                             requiredMessage="Campo Obrigatorio!!!"/>
                <p:message for="nome"/>

                <p:outputLabel value="Descrição:"/>
                <p:inputText id="desc" value="#{anuncioBean.anuncio.descricao}"
                             required="true"
                             requiredMessage="Campo Obrigatorio!!!"/>
                <p:message for="desc"/>
                        

                
                <p:outputLabel value="Data de entrada:"/>
                <p:calendar id="entrada" value="#{anuncioBean.anuncio.dataEntrada}"/>
                <p:message for="entrada"/>
                

                <p:outputLabel value="Serviços:"/>
                <p:inputText id="servicos" value="#{anuncioBean.anuncio.servicos}"
                             required="true"
                             requiredMessage="Campo Obrigatorio!!!"/>
                <p:message for="servicos"/>


                <p:outputLabel value="Valor da diaria:"/>
                <p:inputText id="valor" value="#{anuncioBean.anuncio.valor}"
                             required="true"
                             requiredMessage="Campo Obrigatorio!!!"/>
                <p:message for="valor"/>

                <p:outputLabel value="Capacidade:"/>
                <p:inputText id="cap" value="#{anuncioBean.anuncio.capacidade}"
                             required="true"
                             requiredMessage="Campo Obrigatorio!!!"/>
                <p:message for="cap"/>
                
                <p:outputLabel value="Endereço:"/>
                <p:inputText id="end" value="#{anuncioBean.anuncio.endereço}"
                             required="true"
                             requiredMessage="Campo Obrigatorio!!!"/>
                <p:message for="end"/>
                
                <p:outputLabel value="Cidade:"/>
                <p:inputText id="cidade" value="#{anuncioBean.anuncio.cidade}"
                             required="true"
                             requiredMessage="Campo Obrigatorio!!!"/>
                <p:message for="cidade"/>

                <p:commandButton id="salvar" value="Salvar" ajax="false"
                                 action="#{anuncioBean.salvar}"/>


            </h:panelGrid>
        </h:form>
        </ui:define>
        </ui:composition>
    </h:body>
</html>

