<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>     
        <ui:composition template="template.xhtml">  
            <ui:define name="conteudo">
                <h:form>

                    <h1>Cadastro Usuario</h1>
                    <h:panelGrid columns="3">
                        <p:outputLabel value="Login:"/>
                        <p:inputText id="login" value="#{usuarioBean.usuario.login}"
                                     required="true"
                                     requiredMessage="Campo Obrigatorio!!!"/>
                        <p:message for="login"/>

                        <p:outputLabel value="Senha:"/>
                        <p:inputText id="senha" value="#{usuarioBean.usuario.senha}"
                                     required="true"
                                     requiredMessage="Campo Obrigatorio!!!"/>
                        <p:message for="senha"/>

                        <p:outputLabel value="Nome:"/>
                        <p:inputText id="nome" value="#{usuarioBean.usuario.nome}"
                                     required="true"
                                     requiredMessage="Campo Obrigatorio!!!"/>
                        <p:message for="nome"/>

                        <p:outputLabel value="Data de nascimento:"/>
                        <p:calendar id="nasc" value="#{usuarioBean.usuario.data}"
                                    required="true"
                                    requiredMessage="Campo Obrigatorio!!!"/>
                        <p:message for="nasc"/>

                        <p:outputLabel value="Profissão:"/>
                        <p:inputText id="profissao" value="#{usuarioBean.usuario.profissao}"
                                     required="true"
                                     requiredMessage="Campo Obrigatorio!!!"/>
                        <p:message for="profissao"/>

                        <p:outputLabel value="Telefone:"/>
                        <p:inputText id="telefone" value="#{usuarioBean.usuario.telefone}"
                                     required="true"
                                     requiredMessage="Campo Obrigatorio!!!"/>
                        <p:message for="telefone"/>

                        <p:commandButton id="salvar" value="Salvar" ajax="false"
                                         action="#{usuarioBean.salvar}"/>

                    </h:panelGrid>
                </h:form>
                
                <h:form>

                    <p:dataTable value="#{usuarioBean.usuario.listaAnuncio}" var="anuncio" >
                        <p:column headerText="titulo" >
                            <h:outputText value="#{anuncio.nome}" />
                        </p:column>
                        
                        <p:column headerText="descrição" >
                            <h:outputText value="#{anuncio.descricao}" />
                        </p:column>
                        
                        <p:column headerText="data" >
                            <h:outputText value="#{anuncio.dataEntrada}" />
                        </p:column>
                        
                        <p:column headerText="serviços" >
                            <h:outputText value="#{anuncio.servicos}" />
                        </p:column>
                        
                        <p:column headerText="diaria" >
                            <h:outputText value="#{anuncio.valor}" />
                        </p:column>
                          
                         <p:column headerText="capacidade" >
                             <h:outputText value="#{anuncio.capacidade}" />
                        </p:column>

                         <p:column headerText="cidade" >
                            <h:outputText value="#{anuncio.cidade}" />
                        </p:column>

                         <p:column headerText="endereço" >
                             <h:outputText value="#{anuncio.endereço}" />
                        </p:column>   
                        
                         <p:column headerText="nota" >
                             <h:outputText value="#{anuncio.notaAnuncio}" />
                        </p:column>
                        
                         <p:column headerText="ação" >
                              <p:commandButton id="salvar" value="Excluir tem q arrumar o metodo ta salvar" ajax="false"
                                         action="#{usuarioBean.salvar}"/>
                        </p:column>     

                            

                        </p:dataTable>

                    </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

