<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Cadastro Usuario</title>
    </h:head>
    <h:body>
        <ui:composition template="template.xhtml">
            <ui:define name="conteudo">
                <h:form>
                    <h:panelGrid columns="3">
                        <p:outputLabel value="Login:"/>
                        <p:inputText id="login" value="#{usuarioBean.usuario.login}"
                                     />
                        <p:message for="login"/>

                        <p:outputLabel value="Senha:"/>
                        
                        <p:inputText id="senha" value="#{usuarioBean.usuario.senha}"
                                    />
                        <p:message for="senha"/>
                        <p:commandButton id="salvar" value="Salvar" ajax="false"
                                         action="#{usuarioBean.salvar}"/>
                         <p:commandButton id="cadastro" value="Cadastrar" ajax="false"
                                         action="#{usuarioBean.retornaCadastro}"/>
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>  
    </h:body>
</html>

