<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title></title>
        <h:outputStylesheet library="css" name="css_1.css"/>
    </h:head>
    <h:body>
        <div id="cabecalho">
            <h1>Sistema Z1K4 M3M0</h1>
        </div>
            
        <div id="tudo">
        <div id="conteudo">
            <h:form>
        

            <p:menubar>
                 <p:menuitem value="Usuario" outcome="CadastroUsuario" />
                 <p:menuitem value="Anuncio" outcome="CadastroAnuncio" />
                 <p:menuitem value="Login" outcome="Login" />
                 <p:submenu label="Busca" >
                        <p:menuitem value="Por Cidade" outcome="BuscaCidade" />
                        <p:menuitem value="Data" outcome="BuscaData" />
                        <p:menuitem value="Nota" outcome="BuscaNota" />
                  </p:submenu>
            </p:menubar>
            </h:form>
            
            <ui:insert name="conteudo"/>  
            
             <div id="ofertas">
                <div id="foto">
                    
                </div>
                <div id="descr">
                    <p:outputLabel id="nomedestaque" value="#{anuncioBean.anuncio.nome}"/>
                    <br/>
                    <p:outputLabel id="descricaodestaque" value="#{anuncioBean.anuncio.descricao}"/>
                    <br/>
                    <p:outputLabel id="servicosdestaques" value="#{anuncioBean.anuncio.servicos}"/>
                    <br/>
                    <p:outputLabel id="cidadedestaques" value="#{anuncioBean.anuncio.cidade}"/>
                    <br/>
                    <p:outputLabel id="dataEntradadestaques" value="#{anuncioBean.anuncio.dataEntrada}"/>
                    <br/>
                    <p:outputLabel id="valordestaques" value="#{anuncioBean.anuncio.valor}"/>
                    <br/>
                    <p:outputLabel id="capacidadedestaques" value="#{anuncioBean.anuncio.capacidade}"/>
                    <br/>
                    
                </div>
            </div>
            
            
            
        </div>
        </div>
                
        <div id="rodape">
            <p:outputLabel value="Desenvolvido por Douglas Chav1 e Lucas Bolad1, 2017"/>
        </div>
         
    </h:body>
</html>

